.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.signInButton {
  background-color: aquamarine;
  color: #000;
  height: 40px;
  width: 200px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.signOutButton {
  background-color: rgb(249, 60, 60);
  color: #fff;
  height: 40px;
  width: 200px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
